body {
  min-height: 100vh;
  background-color: hsl(43, 78%, 98%);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

main {
  padding: 0 1.5rem;
}

.div-hero {
  height: 400px;
  margin-bottom: 7.5rem;
  position: relative;
  text-align: center;
}

#img-about {
  width: auto;
  height: 400px;
  display: block;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.div-hero > div {
  padding: 7rem 1.5rem;
  color: hsl(43, 78%, 98%);
}

.div-hero > div > h2 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.div-hero > div > div {
  font-size: 15px;
  line-height: 1.5rem;
}

/* .div-our-commitment */
.div-our-commitment {
  margin-bottom: 12rem;
  text-align: center;
  color: hsl(215, 19%, 25%);
}

#img-our-commitment {
  width: auto;
  height: 400px;
  margin-bottom: 3rem;
  display: block;
  border-radius: 10px;
}

.div-our-commitment > div > h3 {
  margin-bottom: 1.75rem;
  font-size: 2rem;
  line-height: 3rem;
}

.div-our-commitment > div > div {
  font-size: 15px;
  line-height: 1.5rem;
}

.div-uncompromising-quality {
  position: relative;
  padding: 9rem 1.5rem 3.75rem 1.5rem;
  margin-bottom: 7.5rem;
  background-color: hsl(213, 17%, 21%);
  color: hsl(43, 78%, 98%);
  border-radius: 10px;
  text-align: center;
}

#img-uncompromising-quality {
  width: calc(100% - 3rem);
  height: auto;
  position: absolute;
  top: -78px;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 0;
  border-radius: 8px;
}

.div-uncompromising-quality > h3 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.div-uncompromising-quality > div {
  font-size: 15px;
  line-height: 1.5rem;
}

.div-our-headquarters {
  margin-bottom: 7.5rem;
  text-align: center;
}

.div-our-headquarters > h3 {
  margin-bottom: 4.5rem;
  font-size: 1.5rem;
  color: hsl(215, 5%, 54%);
}

.list-item-headquarter-location {
  margin-bottom: 4.5rem;
}

.list-item-headquarter-location > img {
  display: block;
  margin: 0 auto 3rem auto;
}

#img-united-kingdom {
  width: 42px;
  height: 50px;
}

#img-canada {
  width: 52px;
  height: 50px;
}

#img-australia {
  width: 49px;
  height: 44px;
}

.list-item-headquarter-location > div > h4 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

.div-address {
  display: flex;
  flex-direction: column;
}

.div-address > span {
  font-size: 1rem;
  line-height: 26px;
  color: hsl(215, 19%, 25%);
}

footer {
  padding: 0 1.5rem;
  margin-bottom: 4.5rem;
}