main {
  padding: 0 1.5rem;
}

.div-hero {
  height: 500px;
  position: relative;
  z-index: 2;
  margin-bottom: 6rem;
  border-radius: 10px;
}

#img-hero {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}

.div-hero > div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 6rem 1.5rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.div-hero > div > h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.div-hero > div > div {
  color: hsl(43, 78%, 98%);
  font-size: 15px;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.btn-cta {
  padding: 1rem 2.25rem;
  background-color: hsl(179, 81%, 29%);
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
}

.div-our-collection {
  margin-bottom: 6rem;
  text-align: center;
}

.div-our-collection > h3 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-transform: lowercase;
  background: linear-gradient(#83888F, transparent);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.list-item-display-coffee {
  margin-bottom: 3rem;
}

.list-item-display-coffee:last-of-type {
  margin-bottom: 0;
}

.img-coffee-bag {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto 1.5rem auto;
}

.div-coffee-description > h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.div-coffee-description > div {
  padding: 0 1.5rem;
  font-size: 15px;
  line-height: 1.5rem;
}

/* 327px x 902px */
/* 327px x 1499px */
.div-why {
  height: 902px;
  margin-bottom: 597px;
  color: hsl(43, 78%, 98%);
  background-color: hsl(213, 17%, 21%);
  border-radius: 1rem;
  text-align: center;
}

.div-why-description {
  padding: 3.75rem 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: hsl(213, 17%, 21%);
}

.div-why-description > h3 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.div-why-description > div {
  font-size: 15px;
  line-height: 1.5rem;
}

/* list-why-reasons */
.list-why-reasons {
  padding: 0 1.5rem;
}

.list-item-why-reason {
  padding: 3.75rem 1.5rem 3rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: hsl(179, 81%, 29%);
  border-radius: 8px;
}

.img-why-reason {
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto 3rem auto;
}

#img-truck {
  height: 50px;
}

.list-item-why-reason > div > h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.list-item-why-reason > div > div {
  padding: 0 .75rem;
  font-size: 15px;
  line-height: 1.5rem;
}

.div-how {
  margin-bottom: 3.75rem;
  text-align: center;
}

.div-how > h3 {
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: hsl(215, 5%, 54%);
}

.list-item-how {
  margin-bottom: 4rem;
}

.list-item-how > span {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  color: hsl(25, 95%, 86%);
  font-family: 'Fraunces';
  font-weight: 900;
}

.list-item-how > h4 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.list-item-how > div {
  font-size: 15px;
  line-height: 1.5rem;
}

footer {
  padding: 4rem 1.5rem;
}

.div-footer {
  padding: 3rem;
  text-align: center;
  background-color: hsl(213, 17%, 21%);
}

#footer-logo {
  margin-bottom: 2.5rem;
}

img-logo {
  width: auto;
  height: 24px;
}

.list-footer-pages {
  margin-bottom: 2rem;
}

.list-footer-pages > li {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.list-footer-pages > li:last-of-type {
  margin-bottom: 0;
}

.list-footer-pages > li > a {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .92px;
  color: hsl(215, 5%, 54%);
}

.list-footer-social-media-links {
  width: 52%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  main {
    padding: 0 2.5rem;
  }

  .div-hero {
    margin-bottom: 9rem;
  }

  #img-hero {
    content: url('../home/tablet/image-hero-coffeepress.jpg');
  }

  .div-hero > div {
    width: 70%;
    padding: 6rem 3rem;
    text-align: start;
  }

  .div-hero > div > h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .div-hero > div > div {
    margin-bottom: 2.5rem;
  }

  .btn-cta {
    padding: 1rem 2rem;
    line-height: 25px;
  }

  .div-our-collection {
    position: relative;
    padding: 3.75rem;
  }

  .div-our-collection > h3 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    font-size: 6rem;
  }

  .list-our-collection {
    padding: 1rem 0 0 0;
  }

  .list-item-display-coffee {
    display: flex;
    text-align: start;
  }

  .img-coffee-bag {
    width: 255px;
    margin: 0 auto;
  }

  .div-coffee-description {
    padding-top: 1rem;
    margin-left: 2rem;
  }

  .div-coffee-description > h4 {
    line-height: 2rem;
  }

  .div-coffee-description > div {
    padding: 0;
  }

  .div-why {
    height: 573px;
    margin-bottom: 26.5rem;
  }

  .div-why-description {
    padding: 3.75rem 3.5rem 3.5rem 3.5rem;
  }

  .div-why-description > div {
    padding: 0 2.5rem;
  }

  .list-why-reasons {
    padding: 0 3.5rem;
  }

  .list-item-why-reason {
    display: flex;
    align-items: center;
    padding: 3rem 3.5rem 3rem 4rem;
  }

  .img-why-reason {
    width: 56px;
    height: auto;
    margin: 0 3.5rem 0 0;
  }

  #img-truck {
    height: auto;
  }

  .list-item-why-reason > div {
    text-align: start;
  }

  .list-item-why-reason > div > h4 {
    margin-bottom: 1rem;
  }

  .list-item-why-reason > div > div {
    padding: 0;
  }

  .div-how {
    margin-bottom: 9rem;
    position: relative;
    text-align: start;
  }

  .div-how > h3 {
    margin-bottom: 7.5rem;
  }

  .div-how > #tablet-line-break {
    position: absolute;
    top: calc(3.5rem + 32px);
    left: 0;
    width: 72%;
    display: flex;
    justify-content: space-between;
  }

  .div-how > #tablet-line-break::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }

  #tablet-line-break > .span-circle {
    position: relative;
    display: block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    background-color: white;
  }

  .list-how {
    display: flex;
  }

  .list-item-how {
    width: 32%;
    margin-bottom: 2.5rem;
    margin-right: .5rem;
  }

  .list-item-how:last-of-type {
    margin-right: 0;
  }

  .list-item-how > span {
    font-size: 4.5rem;
  }

  .list-item-how > div {
    width: 93%;
  }
}

@media (min-width: 1400px) {
  main {
    padding: 0 5rem;
  }

  .div-hero {
    height: 600px;
  }

  #img-hero {
    content: url('../home/desktop/image-hero-coffeepress.jpg');
  }

  .div-hero > div {
    width: 50%;
    padding: 7rem 5rem;
  }

  .div-hero > div > h2 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .div-hero > div > div {
    font-size: 1rem;
    line-height: 26px;
    width: 90%;
    margin-bottom: 3rem;
  }

  .div-our-collection {
    padding: 0 5rem;
  }

  .div-our-collection > h3 {
    font-size: 150px;
  }

  .list-our-collection {
    padding: 7rem 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  .list-item-display-coffee {
    width: 22.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .div-coffee-description {
    padding-top: 2.5rem;
    margin-left: 0;
  }


  .div-coffee-description > div {
    font-size: 1rem;
    line-height: 26px;
  }

  .div-why {
    margin-bottom: 21rem;
  }

  .div-why-description {
    padding: 6rem;
  }

  .div-why-description > h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .div-why-description > div {
    width: 48.5%;
    padding: 0;
    font-size: 1rem;
    line-height: 26px;
    margin: 0 auto;
  }

  .list-why-reasons {
    padding: 0 5.5rem;
    display: flex;
    justify-content: space-between;
  }

  .list-item-why-reason {
    width: 32.5%;
    padding: 4rem 2.5rem 3rem 2.5rem;
    align-items: start;
    flex-direction: column;
  }

  .img-why-reason {
    width: 72px;
    margin: 0 auto 4rem auto;
  }

  #img-truck {
    padding: 11px 0;
  }
  .list-item-why-reason > div {
    text-align: center;
  }

  .list-item-why-reason:nth-of-type(2) > div {
    width: 85%;
    margin: 0 auto;
  }

  .list-item-why-reason:nth-of-type(3) > div {
    width: 90%;
    margin: 0 auto;
  }

  .div-how {
    padding: 0 5.5rem;
    margin-bottom: 12rem;
  }

  .div-how > h3 {
    margin-bottom: 10.5rem;
  }

  .div-how > #tablet-line-break {
    width: 60%;
    left: 5.5rem;
  }

  .list-item-how {
    width: 26%;
    margin-right: 5rem;
    margin-bottom: 3.75rem;
  }

  .list-item-how > h4 {
    width: 80%;
    font-size: 2rem;
    line-height: 36px;
  }

  .list-item-how > div {
    width: auto;
    font-size: 1rem;
    line-height: 26px;
  }

  footer {
    padding: 0 5rem 5.5rem 5rem;
  }

  .div-footer {
    display: flex;
    align-items: center;
    padding: 2.75rem 5.5rem;
  }

  #footer-logo {
    margin-bottom: 0;
  }

  .list-footer-pages {
    width: 25%;
    margin: 0 0 0 5rem;
  }

  .list-footer-social-media-links {
    width: 10%;
    margin: 0 0 0 auto;
  }
}