.div-hero {
  position: relative;
  padding: 0 1.5rem;
  margin-bottom: 7.5rem;
  border-radius: 10px;
}

#img-plan {
  height: auto;
  border-radius: 10px;
}

.div-hero > div {
  position: absolute;
  top: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 2;
  padding: 6rem 1.5rem;
  text-align: center;
  color: hsl(43, 78%, 98%);
}

.div-hero > div > h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.div-hero > div > div {
  font-size: 15px;
  line-height: 25px;
}

.div-steps {
  position: relative;
  padding: 11rem 2.5rem 6rem 2.5rem;
  margin-bottom: 7.5rem;
  text-align: center;
  background-color: hsl(213, 17%, 21%);
  border-radius: 10px;
  color: hsl(43, 78%, 98%);
}

#div-list-bg {
  width: 65%;
  position: absolute;
  top: 6rem;
  left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#div-list-bg::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 15.5px;
  z-index: 2;
  width: calc(100% - 31px);
  height: 2px;
  background-color: hsl(40, 97%, 77%);
}

#div-list-bg > span {
  width: 31px;
  height: 31px;
  display: block;
  content: '';
  border-radius: 50%;
  border: 2px solid hsl(179, 81%, 29%);
  z-index: 4;
}

.list-item-step {
  margin-bottom: 3.5rem;
}

.list-item-step:last-of-type {
  margin-bottom: 0;
}

.list-item-step > span {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-family: 'Fraunces';
  font-weight: 900;
  color: hsl(25, 94%, 86%);
}

.list-item-step > h3 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 2rem;
}

.list-item-step > div {
  font-size: 15px;
  line-height: 25px;
}

.div-user-form {
  padding: 0 1.5rem;
}

.div-form-item {
  margin-bottom: 7rem;
}

#div-grind-li.disabled, #step-grind.disabled {
  opacity: 49.64%;
}

.div-input-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.div-input-header > h3 {
  width: 70%;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: hsl(215, 5%, 54%);
}

.div-input-header > button > svg {
  width: 19px;
  height: 13px;
}

.div-input-header.open > button > svg {
  transform: rotate(180deg);
}

.div-form-item > div:last-of-type > ul > li {
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(215, 19%, 25%);
  background-color: hsl(40, 29%, 94%);
  border-radius: 8px;
}

.div-form-item > div:last-of-type > ul > li > h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.div-form-item > div:last-of-type > ul > li > div {
  font-size: 1rem;
  line-height: 26px;
}

.div-checkout-summary {
  margin-bottom: 7rem;
}

.div-order {
  padding: 2rem;
  margin-bottom: 3.5rem;
  background-color: hsl(213, 17%, 21%);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
}

.div-order > span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 26px;
  text-transform: uppercase;
}

.div-order > h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.span-user-choice {
  color: hsl(179, 81%, 29%);
}

#span-modular-word, #span-grind-phrase {
  color: hsl(0, 0%, 100%);
}

#btn-user-submit, .btn-cta {
  display: block;
  padding: 1rem 2.25rem;
  margin: 0 auto;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  background-color: hsl(179, 81%, 29%);
}

#span-submit-error {
  display: block;
  text-align: center;
  color: hsl(0, 100%, 50%);
  font-size: 15px;
}

/* Footer */
footer {
  padding: 0 1.5rem;
}

/* #div-order-summary */
/* 597px height */
#div-order-modal {
  width: calc(100% - 3rem);
  position: absolute;
  top: 3.25rem;
  left: 1.5rem;
  z-index: 4;
}

.div-modal-header {
  padding: 1.75rem 1.5rem;
  background-color: hsl(215, 19%, 25%);
  color: hsl(0, 0%, 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.div-modal-header > h3 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.div-modal-summary {
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#div-order-summary {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: 'Fraunces';
  font-weight: 900;
  color: hsl(215, 5%, 54%);
}

#div-order-summary > #span-modular-word,  #div-order-summary > #span-grind-phrase {
  color: hsl(215, 5%, 54%);
}

#div-order-confirmation {
  margin-bottom: 1.5rem;
  font-size: 15px;
  line-height: 25px;
  color: hsl(215, 19%, 25%);
}

#btn-checkout-confirm {
  padding: 1rem 2rem;
}

#div-bg-modal-open {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 59%, .8);
}

/* Active States */
.list-user-choices > li, #btn-user-submit {
  cursor: pointer;
}

.div-form-item > div:last-of-type > ul > li:hover, .div-form-item > div:last-of-type > ul > li.selected {
  color: hsl(0, 0%, 100%);
  background-color: hsl(179, 81%, 29%);
}

@media (min-width: 768px) {
  .div-hero, .div-steps, .div-checkout-summary {
    margin-bottom: 9rem;
  }

  .div-hero {
    padding: 0 2.5rem;
  }
  
  #img-plan {
    height: 400px;
    content: url('../plan/tablet/image-hero-blackcup.jpg');
  }

  .div-hero > div {
    width: 65%;
    top: 0;
    left: 2.5rem;
    right: 0;
    padding: 8rem 3.5rem;
    text-align: start;
  }

  .div-hero > div > h2 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .list-steps {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }

  .list-item-step {
    width: 32.5%;
    margin-bottom: 0;
  }

  /* #div-preferences */
  .div-user-form {
    padding: 0 2.5rem;
  }

  .div-input-header {
    margin-bottom: 2.5rem;
  }

  .div-input-header > h3 {
    width: auto;
    font-size: 2rem;
    line-height: 3rem;
  }

  .list-user-choices {
    display: flex;
    justify-content: space-between;
  }

  .div-form-item > div:last-of-type > ul > li {
    width: 32.5%;
    padding: 2rem 1.5rem 5rem 1.5rem; 
  }

  .div-form-item > div:last-of-type > ul > li > h4 {
    margin-bottom: 1.5rem;
  }

  .div-order {
    padding: 1.5rem 2.5rem;
    margin-bottom: 2.5rem;
  }

  footer {
    padding: 0 2.5rem 4.5rem 2.5rem;
  }

  #div-order-modal {
    width: calc(100% - 12rem);
    top: 13.5rem;
    left: 6rem;
  }

  .div-modal-header {
    padding: 3rem 3.5rem;
  }

  .div-modal-header > h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .div-modal-summary {
    padding: 3.5rem;
  }

  #div-order-confirmation {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    line-height: 26px;
  }

  #div-order-button-confirmation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #btn-checkout-confirm {
    display: inline-block;
    margin: 0;
    padding: 1rem 5.25rem;
  }

  #span-checkout-calculated-price {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1400px) {
  .div-hero, .div-steps, .div-checkout-summary {
    margin-bottom: 10.5rem;
  }

  .div-hero {
    padding: 0 5rem;
  }

  #img-plan {
    content: url('../plan/desktop/image-hero-blackcup.jpg');
    height: 450px;
    border-radius: 0;
  }

  .div-hero > div {
    width: 50%;
    padding: 8.125rem 5.25rem;
    left: 5rem;
  }

  .div-hero > div > h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .div-hero > div > div {
    width: 80%;
    font-size: 1rem;
    line-height: 26px;
  }

  .div-steps {
    padding: 12.5rem 5.25rem 6rem 5.25rem;
    margin: 0 5rem 10.5rem 5rem;
    border-radius: 0;
  }

  #div-list-bg {
    width: 59.25%;
    left: 5.25rem;
  }

  .list-steps {
    justify-content: start;
  }

  .list-item-step {
    width: 25.5%;
    margin-right: 5.25rem;
  }

  .list-item-step > span {
    margin-bottom: 3rem;
  }

  .list-item-step > h3 {
    width: 85%;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 3rem;
  }

  .list-item-step > div {
    font-size: 1rem;
    line-height: 26px;
  }

  .div-user-form {
    display: flex;
    padding: 0 5rem;
  }

  #div-form-header-steps {
    width: 55%;
    padding: 0 7.75rem 0 5.25rem;
  }

  .list-item-form-step {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    position: relative;
    color: hsl(215, 5%, 54%);
  }

  .list-item-form-step::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: hsl(215, 5%, 54%);
    position: absolute;
    bottom: -1.25rem;
    left: 0;
  }

  .list-item-form-step > span {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Fraunces';
    font-weight: 900;
    display: block;
    margin-right: 1.5rem;
  }

  .list-item-form-step > h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .list-item-form-step.selected > span {
    color: hsl(179, 81%, 29%);
  }

  .list-item-form-step.selected > h4 {
    color: hsl(215, 19%, 25%);
  }

  #div-user-form-main {
    padding-right: 5.25rem;
  }

  .div-input-header {
    margin-bottom: 3rem;
  }

  .div-input-header > h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .div-form-item {
    margin-bottom: 5rem;
  }

  .div-form-item > div:last-of-type > ul > li {
    padding: 2rem 1.75rem 5.25rem 1.75rem;
    margin-bottom: 0;
  }

  #div-order-modal {
    width: 540px;
    top: 13.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .div-modal-header {
    padding: 3rem 3.375rem;
  }

  .div-modal-summary {
    padding: 3rem 3.375rem;
  }

  #btn-checkout-confirm {
    padding: 1rem 4rem;
  }
}