.div-hero {
  position: relative;
  padding: 0 1.5rem;
  margin-bottom: 7.5rem;
  border-radius: 10px;
}

#img-plan {
  height: auto;
  border-radius: 10px;
}

.div-hero > div {
  position: absolute;
  top: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 2;
  padding: 6rem 1.5rem;
  text-align: center;
  color: hsl(43, 78%, 98%);
}

.div-hero > div > h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.div-hero > div > div {
  font-size: 15px;
  line-height: 25px;
}

.div-steps {
  padding: 5rem 1.5rem;
  margin-bottom: 7.5rem;
  text-align: center;
  background-color: hsl(213, 17%, 21%);
  border-radius: 10px;
  color: hsl(43, 78%, 98%);
}

.list-item-step {
  margin-bottom: 3.5rem;
}

.list-item-step:last-of-type {
  margin-bottom: 0;
}

.list-item-step > span {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-family: 'Fraunces';
  font-weight: 900;
  color: hsl(25, 94%, 86%);
}

.list-item-step > h3 {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 2rem;
}

.list-item-step > div {
  font-size: 15px;
  line-height: 25px;
}

.div-user-form {
  padding: 0 1.5rem;
}

.div-form-item {
  margin-bottom: 7rem;
}

.div-input-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.div-input-header > h3 {
  width: 70%;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: hsl(215, 5%, 54%);
}

.div-input-header > svg {
  width: 19px;
  height: 13px;
}

.div-input-header.open > svg {
  transform: rotate(180deg);
}

.div-form-item > div:last-of-type > ul > li {
  padding: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(215, 19%, 25%);
  background-color: hsl(40, 29%, 94%);
  border-radius: 8px;
}

.div-form-item > div:last-of-type > ul > li.selected {
  color: hsl(0, 0%, 100%);
  background-color: hsl(179, 81%, 29%);
}

.div-form-item > div:last-of-type > ul > li > h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.div-form-item > div:last-of-type > ul > li > div {
  font-size: 1rem;
  line-height: 26px;
}

.div-checkout-summary {
  margin-bottom: 7rem;
}

.div-order {
  padding: 2rem;
  margin-bottom: 3.5rem;
  background-color: hsl(213, 17%, 21%);
  color: hsl(0, 0%, 100%);
}

.div-order > span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 26px;
  text-transform: uppercase;
}

.div-order > h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.div-order > h3 > span {
  color: hsl(179, 81%, 29%);
}

#input-user-submit {
  display: block;
  padding: 1rem 2.25rem;
  margin: 0 auto;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  background-color: hsl(179, 81%, 29%);
}






/* Footer */
footer {
  padding: 0 1.5rem;
}