body {
  position: relative;
  min-height: 100vh;
  background-color: hsl(43, 78%, 98%);
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.hide {
  display: none !important;
}

/* Active States */
#img-hamburger, #img-close, .btn-cta:hover, .list-footer-pages > li > a:hover, .list-footer-social-media-links > li > a:hover {
  cursor: pointer;
}

.btn-cta:hover {
  color: hsl(43, 78%, 98%);
  background-color: hsl(178, 55%, 61%);
}

.list-footer-pages > li > a:hover {
  color: hsl(43, 78%, 98%);
}

.list-footer-social-media-links > li > a:hover > svg > path {
  fill: hsl(25, 94%, 86%);
}

#div-bg-header-open {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%, .5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 3;
}

#header-logo {
  width: auto;
  height: 20px;
}

#img-hamburger {
  width: 16px;
  height: 15px;
}

#img-close {
  width: 14px;
  height: 13px;
}

.list-nav-menu {
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 3;
  text-align: center;
  padding: 2rem;
  background-color: hsl(43, 78%, 98%);
}

.list-nav-menu > li {
  margin-bottom: 1rem;
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(215, 5%, 54%);
}

.list-nav-menu > li:hover {
  color: hsl(0, 0%, 0%);
}

.btn-cta {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 1.125rem;
}

.div-footer {
  padding: 3rem;
  text-align: center;
  background-color: hsl(213, 17%, 21%);
}

#footer-logo {
  margin-bottom: 2.5rem;
}

img-logo {
  width: auto;
  height: 24px;
}

.list-footer-pages {
  margin-bottom: 2rem;
}

.list-footer-pages > li {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.list-footer-pages > li:last-of-type {
  margin-bottom: 0;
}

.list-footer-pages > li > a {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .92px;
  color: hsl(215, 5%, 54%);
}

.list-footer-social-media-links {
  width: 52%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  header {
    padding: 2rem 2.5rem 3rem 2.5rem;
  }

  #header-logo {
    height: 26px;
  }

  .list-nav-menu {
    position: initial;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .list-nav-menu > li {
    margin-bottom: 0;
    margin-left: 1.5rem;
    font-family: 'Barlow';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .92px;
    color: hsl(215, 5%, 54%);
  }
}

@media (min-width: 1400px) {
  header {
    padding: 2.5rem 5rem;
  }
}